cart_control.json
[
    {
        "id": "1288995bd6091a3a",
        "type": "tab",
        "label": "Railway cart",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ef031c6d2c427ec",
        "type": "mqtt out",
        "z": "1288995bd6091a3a",
        "name": "",
        "topic": "MOTOR-CONTROL",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "383d7d5669cee1d7",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "668410f5eef44555",
        "type": "ui_button",
        "z": "1288995bd6091a3a",
        "name": "",
        "group": "acf14c9c59dce61b",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Increase",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "MOTOR-CONTROL",
        "topicType": "msg",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "2ef031c6d2c427ec"
            ]
        ]
    },
    {
        "id": "35fe84f582f18c54",
        "type": "ui_button",
        "z": "1288995bd6091a3a",
        "name": "",
        "group": "acf14c9c59dce61b",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Decrease",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "MOTOR-CONTROL",
        "topicType": "msg",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "2ef031c6d2c427ec"
            ]
        ]
    },
    {
        "id": "3e7077515e7a4ef1",
        "type": "mqtt out",
        "z": "1288995bd6091a3a",
        "name": "",
        "topic": "FORWARD",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "383d7d5669cee1d7",
        "x": 490,
        "y": 480,
        "wires": []
    },
    {
        "id": "090488bc7cacacbc",
        "type": "ui_switch",
        "z": "1288995bd6091a3a",
        "name": "",
        "label": "FORWARD",
        "tooltip": "",
        "group": "faf9cb530f1141f4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "FORWARD",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "3e7077515e7a4ef1"
            ]
        ]
    },
    {
        "id": "78ead6c8dce3744c",
        "type": "mqtt in",
        "z": "1288995bd6091a3a",
        "name": "",
        "topic": "CART-SPEED",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "383d7d5669cee1d7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 720,
        "wires": [
            [
                "45dae4a02670a142"
            ]
        ]
    },
    {
        "id": "45dae4a02670a142",
        "type": "ui_gauge",
        "z": "1288995bd6091a3a",
        "name": "",
        "group": "679b2d0e718cb306",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "CART SPEED",
        "label": "km/h",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 720,
        "wires": []
    },
    {
        "id": "b00b8cba52189305",
        "type": "mqtt out",
        "z": "1288995bd6091a3a",
        "name": "",
        "topic": "STOP",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "383d7d5669cee1d7",
        "x": 490,
        "y": 580,
        "wires": []
    },
    {
        "id": "9ccdaadc286243a6",
        "type": "ui_switch",
        "z": "1288995bd6091a3a",
        "name": "",
        "label": "STOP",
        "tooltip": "",
        "group": "fa1ac6f12f3b941d",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "STOP",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 580,
        "wires": [
            [
                "b00b8cba52189305"
            ]
        ]
    },
    {
        "id": "28fc892c0c463671",
        "type": "ui_switch",
        "z": "1288995bd6091a3a",
        "name": "",
        "label": "Reverse",
        "tooltip": "",
        "group": "111a932f52f3a8a9",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "REVERSE",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 200,
        "y": 640,
        "wires": [
            [
                "ec6a931d37b91282"
            ]
        ]
    },
    {
        "id": "ec6a931d37b91282",
        "type": "mqtt out",
        "z": "1288995bd6091a3a",
        "name": "",
        "topic": "REVERSE",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "383d7d5669cee1d7",
        "x": 510,
        "y": 640,
        "wires": []
    },
    {
        "id": "b99b823b9fd2fb01",
        "type": "remote-access",
        "z": "1288995bd6091a3a",
        "confignode": "90b5887587b92877",
        "name": "",
        "verbose": 0,
        "x": 360,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b84d3d79a9249cb1",
        "type": "ui_spacer",
        "z": "1288995bd6091a3a",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "d7531467244e838c",
        "type": "ui_spacer",
        "z": "1288995bd6091a3a",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "105af08f9c184e1a",
        "type": "ui_spacer",
        "z": "1288995bd6091a3a",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "a9eced6859b3530f",
        "type": "ui_spacer",
        "z": "1288995bd6091a3a",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "61546f3882cfa5f4",
        "type": "ui_spacer",
        "z": "1288995bd6091a3a",
        "name": "spacer",
        "group": "",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "383d7d5669cee1d7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "http://broker.mqtt.cool",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "acf14c9c59dce61b",
        "type": "ui_group",
        "name": "Speed Control",
        "tab": "93b37275dff285df",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "faf9cb530f1141f4",
        "type": "ui_group",
        "name": "Forward/Reverse",
        "tab": "93b37275dff285df",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "679b2d0e718cb306",
        "type": "ui_group",
        "name": "CART SPEED",
        "tab": "93b37275dff285df",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fa1ac6f12f3b941d",
        "type": "ui_group",
        "name": "Forward/Reverse",
        "tab": "93b37275dff285df",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "111a932f52f3a8a9",
        "type": "ui_group",
        "name": "Forward/Reverse",
        "tab": "93b37275dff285df",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "90b5887587b92877",
        "type": "remote-config",
        "name": "Cart Control",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "anc2uerglsbfgs5fb67okcx75y6v1sgjj4l0jjuj1g9dewzgjmpfl1nl8ephvmic",
        "server": "nodered05.remote-red.com",
        "region": "sg"
    },
    {
        "id": "93b37275dff285df",
        "type": "ui_tab",
        "name": "Railway Cart",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]